name: Deploy Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'  # Set the Python version for your Lambda function

    - name: Install dependencies
      run: |
        mkdir package
        pip install -r requirements.txt -t ./package
        cd package
        zip -r ../lambda_function.zip .
        cd ..
        zip -r lambda_function.zip lambda_function.py extract_spotify_data.py transform_spotify_data.py load_spotify_data.py

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      run: terraform apply -auto-approve
      env:
        TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
        TF_VAR_aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        TF_VAR_aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TF_VAR_s3_bucket_name: ${{ secrets.S3_BUCKET_NAME }}
        TF_VAR_lambda_role_arn: ${{ secrets.AWS_LAMBDA_ROLE_ARN }}
        TF_VAR_client_id: ${{ secrets.CLIENT_ID }}
        TF_VAR_client_secret: ${{ secrets.CLIENT_SECRET }}
        TF_LOG: DEBUG